<mat-drawer-container class="example-container" autosize>
  <p>
    <mat-toolbar color="primary">
      <span>PROJET IA 901 GR 11 - Recherche Vocale</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </p>

  <div class="example-sidenav-content">
    <div style="margin: 100px">
      <h1>Où voulez vous vous rendre ?</h1>
      <button mat-raised-button [disabled]="recording || loading" (click)="startService()" color="primary">
        Commencer l'enregistrement
      </button>
      <div style="margin: 10px"></div>
      <button mat-raised-button [disabled]="!recording || loading" (click)="stopService()" color="primary">
        Stopper l'enregistrement
      </button>
      <div style="margin: 10px"></div>

      <br>
      <br>

      <ng-container *ngIf="service.showRequest || service.tempWords">
        <mat-card >{{(service.showRequest != service.tempWords ? service.showRequest + ' ' + service.tempWords : service.tempWords)}}</mat-card>
        
        <br>
        
        <button [disabled]="recording || loading" mat-raised-button (click)="getBestPath()" color="primary">
          Chercher
        </button>
        &nbsp;&nbsp;
        <button [disabled]="recording || loading" mat-raised-button (click)="clear()" color="warn">
          Effacer
        </button>
        <br *ngIf="loading"/>
        <br *ngIf="loading"/>
        <mat-spinner *ngIf="loading"></mat-spinner>
      </ng-container>

      <br>
      <br>

      <mat-card *ngIf="service.bestPath?.length > 0">
        <mat-vertical-stepper [linear]="true" #stepper>
          <mat-step *ngFor="let path of service.bestPath" [completed]=false [editable]=false>
            <ng-template matStepLabel>{{ path }} </ng-template>
          </mat-step>
        </mat-vertical-stepper>
      </mat-card>

    </div>
  </div>
</mat-drawer-container>